.header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  font-family: sans-serif;
  font-weight: 800;
  animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.selectionCont {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.characterSelectionCont {
  width: 34%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
}

.optionsContainer {
  height: 75%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.selectedCont {
  width: 66%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previewCont {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-size: cover;
  z-index: -1;
}

.pageCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10em;
}

.cardCont {
  display: flex;
  flex-direction: column;
  height: 195px;
  width: 130px;
  margin: 1rem;
  border: #dddddd solid 10px;
  border-radius: 10px;
  background: linear-gradient(250deg, #d5b0f7, #f5e4ce, #b5e9f2, #bdf5c3);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  padding: 0.5em;
  text-align: center;
  color: #3d3d3d;
  filter: brightness(0.55) contrast(1.2);
}

.cardCont input {
  background-color: inherit;
}

.cardCont:hover {
  box-shadow: 0 5px 15px rgb(255, 249, 223);
  transition: all 0.2s ease-in-out;
  transform: scale(1.35);
  animation: gradient 3s ease infinite;
  filter: brightness(1) contrast(1);
  z-index: 2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bigCardsCont {
  display: flex;
}

.botCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 400px;
  border-radius: 30px;
  padding: 0;
  /* border: green 2px solid; */
  transform-style: preserve-3d;
  animation: flip 0.5s 1 forwards;
}

@media (max-width: 768px) {
  .botCont {
    height: 275px;
    width: 200px;
    padding: 0;margin: 1rem;
  }
}

.playerSelectCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  /* border: green 2px solid; */
}

.input {
  background-color: red;
}

.pageCont > button {
  text-align: center;
}

.battleButton {
  padding: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 1em;
  font-size: 2em;
  border-radius: 10px;
  bottom: 20px;
  right: 50px;
}

.battleButton:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.imgCont {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.splashCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.start {
  bottom: 4.5rem;
  width: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5em;
  background: red;
  position: absolute;
}

.start:hover {
  background: darkred;
  cursor: pointer;
}

.loadingCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  bottom: 1rem;
  position: absolute;
}

.quote {
  position: absolute;
  font-size: 4em;
  color: white;
}

.loadingSplash {
  width: 100vw;
  height: 100vh;
  opacity: 50%;
  z-index: -1;
}


@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  75% {
    transform: rotateY(-270deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

.music {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
}

.music:hover {
  cursor: pointer;
}

.audioControl {
  display: none;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 1800px) {
  h1 {
    width: 100vw;
    text-align: center;
  }
  .optionsContainer {
    height: 100vh;
  }
  .previewCont {
    align-items: center;
  }
  .buttonCont {
    position: relative;
    bottom: 0;
  }
}

@media (max-height: 620px) {
  .pageCont {
    display: flex;
  }
  .optionsContainer {
    margin-top: 0rem;
  }
  h1 {
    margin-top: 50rem;
  }
  .battleButton {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 420px) {
  h1 {
    margin-top: 60rem;
  }
}

@media (max-width: 540px) {
  h1 {
    margin-top: 60rem;
  }
}

@media (max-width: 1155px) {
  .battleButton {
    position: relative;
    bottom: 0;
    right: 50px;
    margin-left: 5rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .optionsContainer {
    height: 75%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .characterSelectionCont {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
  }
  .cardCont {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 90px;
    margin: 1rem;
    border: #dddddd solid 2px;
    border-radius: 5px;
    background: linear-gradient(250deg, #d5b0f7, #f5e4ce, #b5e9f2, #bdf5c3);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    padding: 0.5em;
    text-align: center;
    color: #3d3d3d;
    filter: brightness(0.55) contrast(1.2);
  }
  .selectionCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
  }
  .selectedCont {
    width: 66%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .battleButton {
    display: flex;
    padding: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.3em;
    font-size: 2em;
  }
}
